# String de conexão do MongoDB Atlas
MONGODB_URI=mongodb+srv://usuario:senha@cluster0.xxxxx.mongodb.net/nomeDoBanco?retryWrites=true&w=majority

# Chave secreta usada para assinar os tokens JWT
JWT_SECRET=sua_chave_secreta_aqui